---
import ProjectCard from "../../components/ProjectCard.jsx";

import projectData from '../../data/project.json';

const clips = import.meta.glob('/src/assets/Clips/*', { eager: true }) as Record<string, { default: string }>;

const getShowcaseSrc = (uri: string) => {
    if (!uri) return "";
    if (uri.startsWith("http")) return uri;
    
    const path = `/src/assets/Clips/${uri}`;
    const module = clips[path];
    
    if (module) return module.default;
    
    const foundKey = Object.keys(clips).find(key => key.endsWith('/' + uri));
    if (foundKey) {
        return clips[foundKey].default;
    }

    return uri;
}
---
<div id="Projects">
    <div class="content-wrapper">
        <div class="header-row">
            <div class="bg-header">
                <p class="header-text">Projects</p>
            </div>
        </div>
        <div class="main-row">
            <p class="paragraph">My shipped projects, built on advanced coding and OOP expertise, showcase mastery of professional project management. Every meaningful endeavor reflects a dedication to high-quality, impactful development—a compelling feature for high-level review.</p>
            
            <div class="projects-grid">
                    {projectData.map((project) => (
                <ProjectCard 
                    id={project.id}
                    title={project.title} 
                    description={project.description}
                    year={project.year}
                    showcaseuri={getShowcaseSrc(project.showcaseuri)}
                    link={project.link}
                    client:visible
                >
                    <p> </p>
                </ProjectCard>
            ))}
            </div>
            <button class = "see-more-button">See More</button>
        </div>
    </div>
</div>

<style>
    #Projects {
        background-color: #0A0B0C;
        height: 250vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 50px;
        padding-top: 0px;
    }

    .content-wrapper {
        margin-bottom: 200px;
    }

    .header-row {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .main-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
        width: 100%;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        max-width: 1400px;
        padding-top: 40px;
        padding-right: 80px;
        margin: 0 auto;
        width: 100%;
    }

    @media (max-width: 1000px) {
        .projects-grid {
            grid-template-columns: 1fr;
        }
    }

    .bg-header {
        margin-top: 100px;
        width: fit-content;
        padding: 5px 40px;
        background-color: #fd7f5e;
        margin-bottom: 30px;
    }

    .header-text {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: normal;
        margin: 0;
        color: white;
        font-size: 58px;
        letter-spacing: 2px;
    }

    .paragraph {
        font-family: 'Montserrat', sans-serif;
        color: white;
        line-height: 1.4;
        margin: 0;
        font-size: 30px;
        padding-right: 80px;
    }
    .see-more-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 10px 20px;
        font-size: 18px;
        color: white;
        background-color: #fd7f5e;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transform: translateX(-20px);
    }
</style>